main
    .filter
        h2 Filter by
        ul
            li.product-type
                label(for='product-type') Product Type:
                select(name='product-type' id='product-type')
                    option(value='all') All
                    option(value='nutrition') Sports Nutrition
                    option(value='sportswear') Sportswear
                    option(value='trainers') Trainers
            li.price-filter
                ul
                    li
                        label(for='min-price') Price:
                        input(type='number', id='min-price', name='min-price', placeholder='Min', min='0', defaultValue='0')
                    li
                        input(type='number', id='max-price', name='max-price', placeholder='Max', min='0', defaultValue='99999')
                    li
                        button(type='submit', id='apply-button') Apply
    .products