header
    .logo
        h1 BossOfTheGym
    .search-bar
        input(type='text', id='search-input', placeholder='Search for products...')
        button(type='submit', id='search-button') Search
    .cart-button
        button(type='button') Cart
    nav
        ul
            li
                a(href='#') Sports Nutrition
            li
                a(href='#') Sportswear
            li
                a(href='#') Trainers